<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <section class="about">

    <div class="row">
      <div class="image">
        <img src="/images/about-img.svg" alt="">
      </div>
      <div class="content">
        <h3>Why Choose Us?</h3>
        <p>
          At <strong>our websites</strong>, we bring your dream property closer to reality. With years of expertise in the real estate industry, we pride ourselves on providing exceptional services tailored to meet your unique needs. Whether you are buying, selling, or renting, we are dedicated to ensuring a seamless experience.
        </p>
        <p>
          Join the thousands of satisfied clients who have found their perfect homes and investment opportunities with us. Discover why we are the most trusted name in real estate today!
        </p>
      </div>
    </div>

  </section>
</body>
</html>