<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <!-- home section starts  -->
    <div class="home">
        <section class="center">
            <form action="/search" method="post">
                <h3>find your perfect home</h3>
                <div class="box">
                    <p>enter location <span>*</span></p>
                    <input type="text" name="location" required maxlength="50" placeholder="enter city name" class="input">
                </div>
                <div class="flex">
                    <!-- Flex boxes for inputs -->
                    <div class="box">
                        <p>property type <span>*</span></p>
                        <select name="type" class="input" required>
                            <option value="flat">flat</option>
                            <option value="house">house</option>
                            <option value="shop">shop</option>
                        </select>
                    </div>
                    <div class="box">
                        <p>how many BHK <span>*</span></p>
                        <select name="bhk" class="input" required>
                            <option value="1">1 BHK</option>
                            <option value="2">2 BHK</option>
                            <option value="3">3 BHK</option>
                            <option value="4">4 BHK</option>
                        </select>
                    </div>
                </div>
                <input type="submit" value="search property" name="search" class="btn">
            </form>
        </section>
    </div>
    <!-- home section ends -->


<!-- services section starts  -->

    <section class="services">

        <h1 class="heading">our services</h1>

        <div class="box-container">

            <div class="box">
                <img src="/images/icon-1.png" alt="">
                <h3>buy house</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, incidunt.</p>
            </div>

            <div class="box">
                <img src="/images/icon-2.png" alt="">
                <h3>rent house</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, incidunt.</p>
            </div>

            <div class="box">
                <img src="/images/icon-3.png" alt="">
                <h3>sell house</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, incidunt.</p>
            </div>

            <div class="box">
                <img src="/images/icon-4.png" alt="">
                <h3>flats and buildings</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, incidunt.</p>
            </div>

            <div class="box">
                <img src="/images/icon-5.png" alt="">
                <h3>shops and malls</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, incidunt.</p>
            </div>

            <div class="box">
                <img src="/images/icon-6.png" alt="">
                <h3>24/7 service</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, incidunt.</p>
            </div>

        </div>

    </section>

    <!-- services section ends -->

    <!-- listings section starts  -->

    <section class="listings">

        <h1 class="heading">Listings</h1>
        <div class="box-container">
            <th:block th:each="post, p:${publicPost}">
                <div class="box">
                    <div class="admin">
                        <h3>[[${post.postedBy.name[0]}]]</h3>
                        <div>
                            <p>[[${post.postedBy.name}]]</p>
                            <span>[[${post.createdAt}]]</span>
                        </div>
                    </div>
                    <div class="thumb">
                        <p class="total-images"><i class="far fa-image"></i><span>[[${post.images.size}]]</span></p>
                        <p class="type"><span>[[${post.propertyType}]]</span><span>[[${post.serviceType}]]</span></p>
                        <img th:src="@{'/images/'+${post.images[0].url}}" alt="">
                    </div>
                    <h3 class="name">[[${post.title}]]</h3>
                    <p class="location"><i class="fas fa-map-marker-alt"></i><span>[[${post.address}]]</span></p>
                    <div class="flex">
                        <p><i class="fas fa-bed"></i><span>[[${post.bedrooms}]]</span></p>
                        <p><i class="fas fa-bath"></i><span>[[${post.bathrooms}]]</span></p>
                        <p><i class="fas fa-maximize"></i><span>[[${post.size}]] sqft</span></p>
                    </div>
                    <a th:href="@{'/view_property?pid=' + ${post.id}}" class="btn">view property</a>
                </div>
            </th:block>
        </div>
    </section>

    <!-- listings section ends -->
</body>
</html>