<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="listings">

    <h1 class="heading">Listings</h1>
    <div class="box-container">
        <th:block th:each="post, p:${publicPost}">
            <div class="box">
                <div class="admin">
                    <h3>[[${post.postedBy.name[0]}]]</h3>
                    <div>
                        <p>[[${post.postedBy.name}]]</p>
                        <span>[[${post.createdAt}]]</span>
                    </div>
                </div>
                <div class="thumb">
                    <p class="total-images"><i class="far fa-image"></i><span>[[${post.images.size}]]</span></p>
                    <p class="type"><span>[[${post.propertyType}]]</span><span>[[${post.serviceType}]]</span></p>
                    <img th:src="@{'/images/'+${post.images[0].url}}" alt="">
                </div>
                <h3 class="name">[[${post.title}]]</h3>
                <p class="location"><i class="fas fa-map-marker-alt"></i><span>[[${post.address}]]</span></p>
                <div class="flex">
                    <p><i class="fas fa-bed"></i><span>[[${post.bedrooms}]]</span></p>
                    <p><i class="fas fa-bath"></i><span>[[${post.bathrooms}]]</span></p>
                    <p><i class="fas fa-maximize"></i><span>[[${post.size}]] sqft</span></p>
                </div>
                <a th:href="@{'/view_property?pid=' + ${post.id}}" class="btn">view property</a>
            </div>
        </th:block>
    </div>
</section>
</body>
</html>