<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
    <section class="form-container">

        <!-- login section starts  -->
        <form action="/login" method="post">
            <h3>welcome back!</h3>

            <th:block th:if="${session.successMsg}">
                <p class="text-success fw-bold">[[${session.successMsg}]]</p>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </th:block >

            <th:block th:if="${session.errorMsg}">
                <p class="text-success fw-bold">[[${session.errorMsg}]]</p>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </th:block >

            <input type="email" name="username" required maxlength="100" placeholder="enter your email" class="box">
            <input type="password" name="password" required maxlength="50" placeholder="enter your password" class="box">
            <p>don't have an account? <a href="/register">register new</a></p>
            <button type="submit" name="submit" class="btn">login now</button>
        </form>
        <!-- login section ends -->

    </section>
</body>
</html>