<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<section class="filters" style="padding-bottom: 0;">
    <form action="/filtered" method="post">
        <div id="close-filter"><i class="fas fa-times"></i></div>
        <h3>Filter Your Search</h3>

        <div class="flex">
            <div class="box">
                <p>Enter Location</p>
                <input type="text" name="city" required maxlength="50" placeholder="Enter city name" class="input">
            </div>
            <div class="box">
                <p>Offer Type</p>
                <select name="serviceType" class="input" required>
                    <option value="sale">Sale</option>
                    <option value="rent">Rent</option>
                </select>
            </div>
            <div class="box">
                <p>Property Type</p>
                <select name="propertyType" class="input" required>
                    <option value="flat">Flat</option>
                    <option value="house">House</option>
                    <option value="shop">Shop</option>
                    <option value="building">Building</option>
                </select>
            </div>
            <div class="box">
                <p>Bedrooms</p>
                <select name="bedrooms" class="input" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </div>
            <div class="box">
                <p>Minimum Budget ($)</p>
                <select name="minimum" class="input" required>
                    <option value="10000">$10,000</option>
                    <option value="50000">$50,000</option>
                    <option value="100000">$100,000</option>
                    <option value="200000">$200,000</option>
                    <option value="500000">$500,000</option>
                    <option value="1000000">$1,000,000</option>
                    <option value="2000000">$2,000,000</option>
                </select>
            </div>
            <div class="box">
                <p>Maximum Budget ($)</p>
                <select name="maximum" class="input" required>
                    <option value="500000">$500,000</option>
                    <option value="1000000">$1,000,000</option>
                    <option value="2000000">$2,000,000</option>
                    <option value="5000000">$5,000,000</option>
                    <option value="10000000">$10,000,000</option>
                    <option value="20000000">$20,000,000</option>
                </select>
            </div>
            <div class="box">
                <p>Status</p>
                <select name="status" class="input" required>
                    <option value="Ready to move">Ready to Move</option>
                    <option value="Under construction">Under Construction</option>
                    <option value="Repairing">Under Repairing</option>
                </select>
            </div>
        </div>
        <input type="submit" value="Search Property" name="search" class="btn">
    </form>
</section>
</body>
</html>
